-------------------
Google Fonts
-------------------
Lexend , lato , Joseph Sans, Poppins , Montserrat, Poiret One, Averta Sans-Seriff, Rubik , Gabarito , Fredoka , Telefon Black , Captain Marvel , Proxima-nova , Euclid Circular A B


----------------
Import vs Link
---------------
Import is used for save time & space
Link tag we have to place it in every html tag

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Rubik', sans-serif !important;
}

---------------------
Custom Preferred Fonts
----------------------
Syntax for Custom Fonts -  @font-family { font name : custom-name1 ; url : (../relative path) , format ('ttf/otf/woff2/woff); font-display : swap / fallback ; 
selector { font-family : custom-name1 ; font-weight : value ; }

----------------------------------------
Use this link download all modern Fonts
----------------------------------------
https://font.download/font/

-------------------------------
Word Wrap Default its no wrap
-------------------------------
word-wrap: break-word ; 

----------------------
Font-sizing
----------------------
SEO Impact with Font Size
input text form minimum size 16px
secondary text can be 14px to make it less important
For Desktop version , according to site the header , description and default text size differs.
Body/form inputs Text - 16/18px
Heading - 1.96 * Body text font size
Sub_headings - 1.5 * Body text font size

html {
    font-size: 16px;
    /* Website minimum font size should be 16px */
    /* Give Other container as rem value so 1rem = 16px  */
    /* rem - root size , em - parent size */
}

-----------------
Fonts Optimization
-----------------
https://nitropack.io/blog/post/font-loading-optimization 

-----------------
Shorthand Css
-----------------
font : normal/italics/small-caps bold/100/500 5 rem/1.5 poppins;
style-weight-size/lineheight-Family name

-----------------
Codepen
-----------------
https://codepen.io/DevillersJerome/pen/EXYBZZ

