Browsers List
-------------
Chrome 
Firefox
Safari
Brave 
DuckDuckGO
Edge

https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Cross_browser_testing/HTML_and_CSS 	

---------------
Safari Install
---------------
https://www.maketecheasier.com/install-safari-on-linux/
