----------------
Shorthand Css
----------------
background : linear-gradient(120 deg / to right bottom, rgba(0,0,0,0.6) 30% , rgba(0,0,0,0.6) 70% ), url(./) no-repeat bottom center;
color-image-repeat-position

-------
Links
-------
https://syncsignature.com/  - Digital Signature

---------------
Object-fit 
---------------
	.element {
	Object-fit : fill [Image width & height alternates according to container Size] , contain [The image size does changes it should same aspect ratio]  ,  cover [Maintain container aspect ratio to show image] ,  none [Just image size]  ;
	}

---------------
Clamp 
---------------
.child {
width / font-size : clamp(100px , 70% , 300px);
}

100px minimum value , 70% is default value between 100 & 300 px ,
300px maximum value.

--------------
Blend Mode 
--------------
when should we use it ? - When 
