----------------
Shorthand Css
----------------
background : linear-gradient(120 deg / to right bottom, rgba(0,0,0,0.6) 30% , rgba(0,0,0,0.6) 70% ), url(./) no-repeat bottom center;
color-image-repeat-position

---------------
Object-fit 
---------------
	.element {
	Object-fit : fill [Image width & height alternates according to container Size] , contain [The image size does changes it should same aspect ratio]  ,  cover [Maintain container aspect ratio to show image] ,  none [Just image size]  ;
	}
