https://dianadanieli.com/ - Screen + Hover Effect


---------------
Method 1
---------------
preloader div
div class = "preloader" 
img gif
</div>

content div
div class "content"
/div

preloader {
position : fixed;
height : 100vh;
width : 100%;
flex justify item center
