Html tags provides two tags for accordian Functionality.

Details + Summary

Summary is the heading for the detailed element. Click the summary section to hide/show details

Syntax:

<details>
  <summary>Heading</summary>
  <p> Description to hide/show </p>
</details>

Compatibility to all major browsers -> https://caniuse.com/?search=summary 

details open denotes open it by refresh or default.
marker show default for details & summary tags
list-style : none , also helps in removing the arrow before the summary heading

Calc (expression) = calc(15rem - 20%) 

Summary must be 1st element to the details tag

-----------------------------------------------
Example Code:

Html
-----
<div class='Acc1'>

  <details open >
    <summary> Heading 1 </summary>
    <div> Description 1 </div>
  </detials>

  <details>
    <summary> Heading 2 </summary>
    <div> Description 2 </div>
  </detials>

</div>

Css3
----

.Acc1 {
  width , max-width , margin 
}

.Acc1 details div {
  padding , borders except top 
}

summary::-webkit-details-marker , summary::marker {
	display: none;
}

summary {
	list-style: none;
  cursor : pointer 
  padding 
}


summary:before{
  arrow custom 
  content ^ with bg color padding
}

detials[open] summary {
  bg , arrow direction change
}

-----------------------------------------------
